body{
    font-family: 'Courier New' , Courier, monospace;
    text-align: center;
    overflow: hidden;
}
.background{
    width: auto;
     height: 100vh;
    background-position: center;
    background-image: url(snek.jpg);
}
.title {
    background-color: white;
}
